<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.alldemos">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <permission android:name="com.example.administrator.alldemos.userprovider.AGREE" />

    <!--baidu map-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--parse push-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.example.administrator.alldemos.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.administrator.alldemos.permission.C2D_MESSAGE" />

    <!--android:hardwareAccelerated禁用硬件加速功能,使其播放gif-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="scbBg8RTo7kxZ0VZhyegXIdE" />

        <activity android:name=".HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".Demos1"
            android:launchMode="singleTask" />
        <activity android:name=".Demos2"
            android:launchMode="singleTask"/>

        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--demos 1-->
        <activity android:name=".activities.Activity1" />
        <activity android:name=".activities.Activity2" />
        <activity android:name=".activities.Activity3" />
        <activity android:name=".activities.Activity4" />
        <activity android:name=".activities.Activity5" />
        <activity android:name=".activities.Activity6" />
        <activity android:name=".activities.Activity7" />
        <activity android:name=".activities.Activity8" />
        <activity android:name=".activities.Activity9" />
        <activity android:name=".activities.Activity10" />
        <activity android:name=".activities.Activity11" />
        <activity android:name=".activities.Activity12" />
        <activity android:name=".activities.Activity13" />
        <activity
            android:name=".activities.Activity14"
            android:parentActivityName=".Demos1" />
        <activity android:name=".activities.Activity15" />
        <activity android:name=".activities.Activity16" />
        <activity android:name=".activities.Activity17" />
        <activity android:name=".activities.Activity18" />
        <activity android:name=".activities.Activity19" />
        <activity android:name=".activities.Activity20" />
        <activity
            android:name=".activities.Activity21"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activities.Activity22" />
        <activity android:name=".activities.Activity23" />

        <provider
            android:name=".utils.UserProvider"
            android:authorities="com.example.administrator.alldemos.userprovider"
            android:exported="true"
            android:permission="com.example.administrator.alldemos.userprovider.AGREE" />

        <receiver android:name=".utils.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_provider_info" />
        </receiver>

        <receiver android:name=".utils.TheNewWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/thenewwidget_provider_info" />
        </receiver>

        <!--demos 2-->
        <activity android:name=".activities_demo2.Activity1_d2" />
        <activity android:name=".activities_demo2.Activity2_d2" />
        <activity android:name=".activities_demo2.Activity3_d2" />
        <activity android:name=".activities_demo2.Activity4_d2" />
        <activity android:name=".activities_demo2.Activity5_d2" />

        <!--baidu 定位service-->
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!--parse push-->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.administrator.alldemos" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
